<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!isMenuEnabled">
      <ion-content>
        <div class="close-btn">
          <div>
            <h4>G-Trends</h4>
          </div>
          <!-- Close Button -->
          <ion-button fill="clear" color="dark" (click)="close()">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <br>
        <br>
        <div class="main-list">
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/home', 1)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 1">
                <ion-icon name="home-outline" slot="start"></ion-icon>
                <ion-label slot="start">Home</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/profile', 2)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 2">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                <ion-label slot="start">Profile</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/my-cart', 3)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 3">
                <ion-icon name="cart-outline" slot="start"></ion-icon>
                <ion-label slot="start">My Cart</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/favorite', 4)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 4">
                <ion-icon name="heart-outline" slot="start"></ion-icon>
                <ion-label slot="start">Favorite</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/my-orders', 5)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 5">
                <ion-icon name="bag-outline" slot="start"></ion-icon>
                <ion-label slot="start">My Orders</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>